html, body, #root
  margin: 0
  padding: 0
  height: 100vh
  width: 100%
  overflow: hidden
  font-family: 'Fira Code', monospace

body
  background-color: black
  color: white

input
  font-family: 'Fira Code', monospace !important
